*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    .container{
        .span{
            display: flex;
            justify-content: center;
            margin-top: 2%;
        }
        .input{
            justify-content: center;
            display: flex;
            input{
                width: 150px;
                height: 25px;
                margin: 1%;
                text-align: center;
            }
            input:focus { 
                outline:none 
            }
        }
        .bounds{
            height: 400px;
            width: 400px;
            border: 5px solid rgb(0, 0, 0);
            margin: 0% auto;
            .game-area{
                position: relative;
                .character{
                    height: 80px;
                    width: 80px;
                    border: 5px solid black;
                    border-radius: 50%;
                    margin: 150px auto;

                }
            }
        }
        
        .joystick{
            margin-top: 2%;
            margin-left: 45%;
            .joystick-c{
                height: 150px;
                width: 150px;
                border: 2px solid black;
                flex-direction: column;
                display: flex;
                position: absolute;
                cursor: pointer;
                .up{
                    height: 100px;
                    width: 50px;
                    background-color: rgb(0, 0, 0);
                    border: 1px solid white;
                    align-self: center;
    
                }
                .center{
                    height: 105px;
                    width: 50px;
                    background-color: #000000;
                    align-self: center;
                    
                }
                .down{
                    height: 100px;
                    width: 50px;
                    background-color: rgb(0, 0, 0);
                    border: 1px solid white;
                    align-self: center;
                }
            }
            .joystick-r{
                background-color: grey;
                height: 150px;
                width: 150px;
                border: 2px solid black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;
                .left{
                    height: 50px;
                    width: 50px;
                    border: 1px solid white;
                    background-color: black;
                    // outline: outset;
                    margin-top: 33%;
                }
                .trsp{
                    height: 50px;
                    width: 50px;
                    border: 1px solid white;
                    align-items: center;
                    background-color: transparent;
                }
                .right{
                    height: 50px;
                    width: 50px;
                    background-color: rgb(0, 0, 0);
                    flex-direction: row;
                    border: 1px solid white;
                    margin-top: 33%;
                }
            }
        }
    }
}